In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os
import xlrd
import time
import io
import matplotlib.pyplot as plt

In [2]:
dbprice=pd.read_csv('price.csv')
dbprice.set_index('ticker', inplace=True)
dbper=pd.read_csv('per.csv')
dbper.set_index('ticker', inplace=True)
dbpbr=pd.read_csv('pbr.csv')
dbpbr.set_index('ticker', inplace=True)
dbmarket=pd.read_csv('market.csv')
dbmarket.set_index('ticker', inplace=True)

In [3]:
def yields(db):
    db['yield']=np.round((db[db.columns[2]]-db[db.columns[1]])/db[db.columns[1]]*100,2)
    return db

In [4]:
def per_modeling(y, m, n):
    dbpermodel = dbper.iloc[:, [0,(y%7)*12+((y//7)-1)*84+m]]
    dbpermodel = dbpermodel.sort_values(by=dbpermodel.columns[1], ascending=True).head(100)
    dbpricemodel = dbprice.ix[dbpermodel.index, [0,(y%7)*12+((y//7)-1)*84+m,(y%7)*12+((y//7)-1)*84+m+12]]
    dbpricemodel[dbpricemodel.columns[1:3]] = dbpricemodel[dbpricemodel.columns[1:3]].astype(float)
    dbpricemodel = dbpricemodel[(dbpricemodel[dbpricemodel.columns[1]] > 0) & (dbpricemodel[dbpricemodel.columns[2]] > 0)].head(n)

    dbpricemodel=yields(dbpricemodel)
    return dbpricemodel

In [5]:
per_modeling(7, 1, 10)

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  after removing the cwd from sys.path.

        market  2007-01-03  2008-01-02  yield
ticker
ADMP    NASDAQ    1.020000    0.850000 -16.67
UAL       NYSE   46.360001   31.990000 -31.00
OC        NYSE   29.090000   19.590000 -32.66
FMAO    NASDAQ   22.200001   20.250000  -8.78
AWI       NYSE   42.400002   40.599998  -4.25
FFHL    NASDAQ   14.900000    6.020000 -59.60
RAND    NASDAQ    3.640000    3.550000  -2.47
NFEC    NASDAQ    3.825000    1.875000 -50.98
APF       NYSE   19.280001   20.129999   4.41
PDCE    NASDAQ   43.020000   59.980000  39.42

In [6]:
dbpricemodel_m=per_modeling(7,1,10)['yield'].mean()
dbpricemodel_m

-16.257999999999999

In [7]:
def results(y, m, n):
    dbmarketmodel = dbmarket.iloc[:, [0,(y%7)*12+((y//7)-1)*84+m,(y%7)*12+((y//7)-1)*84+m+12]]
    dbmarketmodel = yields(dbmarketmodel)
    resultcolumns = [per_modeling(y,m,n)['yield'].mean(), dbmarketmodel.iloc[0, 3], dbmarketmodel.iloc[1,3]]
    resultindex = ['model','S&P500','NASDAQ']
    result = pd.DataFrame({'ticker':resultindex,'%s-%s'%(y, m):resultcolumns})
    result['%s-%s'%(y,m)]=resultcolumns
    results=result.set_index('ticker')
    return results

In [8]:
def per_results(n):
    per_results = results(7, 1, n)
    for i in range(7,17):
        if i == 16:
            for j in range(1,6):
                per_results['%s-%s'%(i, j)]=results(i, j, n)['%s-%s'%(i, j)]
        else:
            for j in range(1,13):
                per_results['%s-%s'%(i, j)]=results(i, j, n)['%s-%s'%(i, j)]
    return per_results

In [10]:
per_results(10)

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,7-1,7-2,7-3,7-4,7-5,7-6,7-7,7-8,7-9,7-10,...,15-8,15-9,15-10,15-11,15-12,16-1,16-2,16-3,16-4,16-5
ticker,,,,,,,,,,,,,,,,,,,,,
model,-16.258,-9.817,-19.589,-20.42,-8.762,-2.94,-47.30,-40.72,-41.275,-43.346,...,-10.066,-21.532,20.977,-21.776,-18.908,59.44,93.888,112.858,125.594,30.749
S&P500,2.160,-3.490,-5.120,-3.82,-5.180,-9.81,-15.43,-14.02,-14.220,-24.950,...,3.470,13.430,12.340,0.360,4.210,12.18,17.540,21.110,13.800,14.740
NASDAQ,7.700,-2.230,-6.060,-2.46,-2.010,-4.68,-12.44,-9.51,-10.680,-24.500,...,1.350,12.750,14.560,0.520,1.840,10.73,22.130,25.900,19.940,26.440

In [11]:
def win(a):
    win = 0
    for i in range(0, 113):
        if a.ix[0,i]>a.ix[1:3,i].mean():
            win += 1
    return win

def geomean(*numbers):
    a=1
    for i in numbers:
        a = a*i
    b= a**(1/len(numbers))
    return b

def change1(a):
    b = a/100 + 1
    return b

def change2(a):
    b = a*100 -100
    return b

In [12]:
def result_mean(a):
    a1=change2(geomean(change1(a.ix[0, 0]),change1(a.ix[0, 12]),change1(a.ix[0, 24]),change1(a.ix[0, 36]),change1(a.ix[0, 48]),change1(a.ix[0, 60]),change1(a.ix[0, 72]),change1(a.ix[0, 84]),change1(a.ix[0, 96]),change1(a.ix[0, 108])))
    a2=change2(geomean(change1(a.ix[0, 1]),change1(a.ix[0, 13]),change1(a.ix[0, 25]),change1(a.ix[0, 37]),change1(a.ix[0, 49]),change1(a.ix[0, 61]),change1(a.ix[0, 73]),change1(a.ix[0, 85]),change1(a.ix[0, 97]),change1(a.ix[0, 109])))
    a3=change2(geomean(change1(a.ix[0, 2]),change1(a.ix[0, 14]),change1(a.ix[0, 26]),change1(a.ix[0, 38]),change1(a.ix[0, 50]),change1(a.ix[0, 62]),change1(a.ix[0, 74]),change1(a.ix[0, 86]),change1(a.ix[0, 98]),change1(a.ix[0, 110])))
    a4=change2(geomean(change1(a.ix[0, 3]),change1(a.ix[0, 15]),change1(a.ix[0, 27]),change1(a.ix[0, 39]),change1(a.ix[0, 51]),change1(a.ix[0, 63]),change1(a.ix[0, 75]),change1(a.ix[0, 87]),change1(a.ix[0, 99]),change1(a.ix[0, 111])))
    a5=change2(geomean(change1(a.ix[0, 4]),change1(a.ix[0, 16]),change1(a.ix[0, 28]),change1(a.ix[0, 40]),change1(a.ix[0, 52]),change1(a.ix[0, 64]),change1(a.ix[0, 76]),change1(a.ix[0, 88]),change1(a.ix[0, 100]),change1(a.ix[0, 112])))
    a6=change2(geomean(change1(a.ix[0, 5]),change1(a.ix[0, 17]),change1(a.ix[0, 29]),change1(a.ix[0, 41]),change1(a.ix[0, 53]),change1(a.ix[0, 65]),change1(a.ix[0, 77]),change1(a.ix[0, 89]),change1(a.ix[0, 101])))
    a7=change2(geomean(change1(a.ix[0, 6]),change1(a.ix[0, 18]),change1(a.ix[0, 30]),change1(a.ix[0, 42]),change1(a.ix[0, 54]),change1(a.ix[0, 66]),change1(a.ix[0, 78]),change1(a.ix[0, 90]),change1(a.ix[0, 102])))
    a8=change2(geomean(change1(a.ix[0, 7]),change1(a.ix[0, 19]),change1(a.ix[0, 31]),change1(a.ix[0, 43]),change1(a.ix[0, 55]),change1(a.ix[0, 67]),change1(a.ix[0, 79]),change1(a.ix[0, 91]),change1(a.ix[0, 103])))
    a9=change2(geomean(change1(a.ix[0, 8]),change1(a.ix[0, 20]),change1(a.ix[0, 32]),change1(a.ix[0, 44]),change1(a.ix[0, 56]),change1(a.ix[0, 68]),change1(a.ix[0, 80]),change1(a.ix[0, 92]),change1(a.ix[0, 104])))
    a10=change2(geomean(change1(a.ix[0, 9]),change1(a.ix[0, 21]),change1(a.ix[0, 33]),change1(a.ix[0, 45]),change1(a.ix[0, 57]),change1(a.ix[0, 69]),change1(a.ix[0, 81]),change1(a.ix[0, 93]),change1(a.ix[0, 105])))
    a11=change2(geomean(change1(a.ix[0, 10]),change1(a.ix[0, 22]),change1(a.ix[0, 34]),change1(a.ix[0, 46]),change1(a.ix[0, 58]),change1(a.ix[0, 70]),change1(a.ix[0, 82]),change1(a.ix[0, 94]),change1(a.ix[0, 106])))
    a12=change2(geomean(change1(a.ix[0, 11]),change1(a.ix[0, 23]),change1(a.ix[0, 35]),change1(a.ix[0, 47]),change1(a.ix[0, 59]),change1(a.ix[0, 71]),change1(a.ix[0, 83]),change1(a.ix[0, 95]),change1(a.ix[0, 107])))
    a0 = np.round((a1+a2+a3+a4+a5+a6+a7+a8+a9+a10+a11+a12)/12, 2)
    return a0

In [14]:
result_mean(per_results(10))

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

12.890000000000001

In [547]:
yield_mean = []
winn = []
losen = []
num = []

In [548]:
for n in range(3, 50):
    print(n)
    a=per_results(n)
    yield_mean.append(result_mean(a))
    winn.append(win(a))
    num.append('n=%s'%n)
    losen.append(113- win(a))

3

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  after removing the cwd from sys.path.
/usr/local/lib/python3.4/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [549]:
b= pd.DataFrame({'n':num, 'mean':yield_mean,'win':winn,'lose':losen}, columns=['n','mean','win','lose'])
c= b.set_index('n')
c

       mean  win  lose
n
n=3    7.17   48    65
n=4    8.24   51    62
n=5    8.17   50    63
n=6    9.36   53    60
n=7   10.38   53    60
n=8   11.66   52    61
n=9   11.88   49    64
n=10  12.89   54    59
n=11  13.14   56    57
n=12  13.39   54    59
n=13  13.68   56    57
n=14  14.94   56    57
n=15  15.10   59    54
n=16  15.90   62    51
n=17  15.92   62    51
n=18  15.79   63    50
n=19  15.66   63    50
n=20  15.68   65    48
n=21  15.27   63    50
n=22  14.90   63    50
n=23  15.46   64    49
n=24  15.13   65    48
n=25  15.06   64    49
n=26  15.05   62    51
n=27  14.83   61    52
n=28  14.83   61    52
n=29  14.55   62    51
n=30  14.14   60    53
n=31  13.86   59    54
n=32  13.93   60    53
n=33  14.19   59    54
n=34  14.11   60    53
n=35  13.84   60    53
n=36  13.62   61    52
n=37  13.78   62    51
n=38  13.67   60    53
n=39  13.37   59    54
n=40  13.16   58    55
n=41  13.13   57    56
n=42  12.82   57    56
n=43  12.60   56    57
n=44  12.69   56    57
n=45  12.68   58    55
n=46  12.69   58    55
n=47  12.86   57    56
n=48  13.18   56    57
n=49  13.21   57    56

In [550]:
c.to_excel('per_test.xlsx')